.sub-header {
    -fx-font-size: 16px;
    -fx-font-weight:bold;
    -fx-padding: 0,0,30px,0;            
}

.header {
	-fx-font-size: 18px;
    -fx-font-weight:bold;
    -fx-padding: 0,0,30,0;    
    
}

.table-view .column-header .label{
    -fx-alignment:center-left;
}

.error-label {
	-fx-fill: red;
}

.table-view .table-cell {
	-fx-font-size: 11px;
}